lapps-mods/tools/gost/META-INF/wsdl/phlox.lancs.ac.uk/ucrel/semtagger/UcrelSemTaggerSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.semantictagger.ucrel.lancs.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.semantictagger.ucrel.lancs.ac.uk/" name="UcrelSemTaggerSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.semantictagger.ucrel.lancs.ac.uk/" schemaLocation="http://phlox.lancs.ac.uk:80/ucrel/semtagger/UcrelSemTaggerSoapService?xsd=1"/>
</xsd:schema>
</types>
<message name="tagSwedText">
<part name="parameters" element="tns:tagSwedText"/>
</message>
<message name="tagSwedTextResponse">
<part name="parameters" element="tns:tagSwedTextResponse"/>
</message>
<message name="tagSpanTextFmt">
<part name="parameters" element="tns:tagSpanTextFmt"/>
</message>
<message name="tagSpanTextFmtResponse">
<part name="parameters" element="tns:tagSpanTextFmtResponse"/>
</message>
<message name="tagSpanText">
<part name="parameters" element="tns:tagSpanText"/>
</message>
<message name="tagSpanTextResponse">
<part name="parameters" element="tns:tagSpanTextResponse"/>
</message>
<message name="tagSpanTextGrampal">
<part name="parameters" element="tns:tagSpanTextGrampal"/>
</message>
<message name="tagSpanTextGrampalResponse">
<part name="parameters" element="tns:tagSpanTextGrampalResponse"/>
</message>
<message name="tagFrenTextFmt">
<part name="parameters" element="tns:tagFrenTextFmt"/>
</message>
<message name="tagFrenTextFmtResponse">
<part name="parameters" element="tns:tagFrenTextFmtResponse"/>
</message>
<message name="userCheck">
<part name="parameters" element="tns:userCheck"/>
</message>
<message name="userCheckResponse">
<part name="parameters" element="tns:userCheckResponse"/>
</message>
<message name="tagChiText">
<part name="parameters" element="tns:tagChiText"/>
</message>
<message name="tagChiTextResponse">
<part name="parameters" element="tns:tagChiTextResponse"/>
</message>
<message name="tagItaText">
<part name="parameters" element="tns:tagItaText"/>
</message>
<message name="tagItaTextResponse">
<part name="parameters" element="tns:tagItaTextResponse"/>
</message>
<message name="tagDutText">
<part name="parameters" element="tns:tagDutText"/>
</message>
<message name="tagDutTextResponse">
<part name="parameters" element="tns:tagDutTextResponse"/>
</message>
<message name="tagPortText">
<part name="parameters" element="tns:tagPortText"/>
</message>
<message name="tagPortTextResponse">
<part name="parameters" element="tns:tagPortTextResponse"/>
</message>
<message name="tagEngText">
<part name="parameters" element="tns:tagEngText"/>
</message>
<message name="tagEngTextResponse">
<part name="parameters" element="tns:tagEngTextResponse"/>
</message>
<message name="tagEngTextFmt">
<part name="parameters" element="tns:tagEngTextFmt"/>
</message>
<message name="tagEngTextFmtResponse">
<part name="parameters" element="tns:tagEngTextFmtResponse"/>
</message>
<message name="tagChiTextFmt">
<part name="parameters" element="tns:tagChiTextFmt"/>
</message>
<message name="tagChiTextFmtResponse">
<part name="parameters" element="tns:tagChiTextFmtResponse"/>
</message>
<message name="tagItaTextFmt">
<part name="parameters" element="tns:tagItaTextFmt"/>
</message>
<message name="tagItaTextFmtResponse">
<part name="parameters" element="tns:tagItaTextFmtResponse"/>
</message>
<message name="tagPortTextFmt">
<part name="parameters" element="tns:tagPortTextFmt"/>
</message>
<message name="tagPortTextFmtResponse">
<part name="parameters" element="tns:tagPortTextFmtResponse"/>
</message>
<message name="tagDutTextFmt">
<part name="parameters" element="tns:tagDutTextFmt"/>
</message>
<message name="tagDutTextFmtResponse">
<part name="parameters" element="tns:tagDutTextFmtResponse"/>
</message>
<message name="setUpperFilterYear">
<part name="parameters" element="tns:setUpperFilterYear"/>
</message>
<message name="setUpperFilterYearResponse">
<part name="parameters" element="tns:setUpperFilterYearResponse"/>
</message>
<message name="tagFrenText">
<part name="parameters" element="tns:tagFrenText"/>
</message>
<message name="tagFrenTextResponse">
<part name="parameters" element="tns:tagFrenTextResponse"/>
</message>
<portType name="UcrelSemTaggerSoap">
<operation name="tagSwedText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSwedTextRequest" message="tns:tagSwedText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSwedTextResponse" message="tns:tagSwedTextResponse"/>
</operation>
<operation name="tagSpanTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSpanTextFmtRequest" message="tns:tagSpanTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSpanTextFmtResponse" message="tns:tagSpanTextFmtResponse"/>
</operation>
<operation name="tagSpanText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSpanTextRequest" message="tns:tagSpanText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSpanTextResponse" message="tns:tagSpanTextResponse"/>
</operation>
<operation name="tagSpanTextGrampal">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSpanTextGrampalRequest" message="tns:tagSpanTextGrampal"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagSpanTextGrampalResponse" message="tns:tagSpanTextGrampalResponse"/>
</operation>
<operation name="tagFrenTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagFrenTextFmtRequest" message="tns:tagFrenTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagFrenTextFmtResponse" message="tns:tagFrenTextFmtResponse"/>
</operation>
<operation name="userCheck">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/userCheckRequest" message="tns:userCheck"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/userCheckResponse" message="tns:userCheckResponse"/>
</operation>
<operation name="tagChiText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagChiTextRequest" message="tns:tagChiText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagChiTextResponse" message="tns:tagChiTextResponse"/>
</operation>
<operation name="tagItaText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagItaTextRequest" message="tns:tagItaText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagItaTextResponse" message="tns:tagItaTextResponse"/>
</operation>
<operation name="tagDutText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagDutTextRequest" message="tns:tagDutText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagDutTextResponse" message="tns:tagDutTextResponse"/>
</operation>
<operation name="tagPortText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagPortTextRequest" message="tns:tagPortText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagPortTextResponse" message="tns:tagPortTextResponse"/>
</operation>
<operation name="tagEngText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagEngTextRequest" message="tns:tagEngText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagEngTextResponse" message="tns:tagEngTextResponse"/>
</operation>
<operation name="tagEngTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagEngTextFmtRequest" message="tns:tagEngTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagEngTextFmtResponse" message="tns:tagEngTextFmtResponse"/>
</operation>
<operation name="tagChiTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagChiTextFmtRequest" message="tns:tagChiTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagChiTextFmtResponse" message="tns:tagChiTextFmtResponse"/>
</operation>
<operation name="tagItaTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagItaTextFmtRequest" message="tns:tagItaTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagItaTextFmtResponse" message="tns:tagItaTextFmtResponse"/>
</operation>
<operation name="tagPortTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagPortTextFmtRequest" message="tns:tagPortTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagPortTextFmtResponse" message="tns:tagPortTextFmtResponse"/>
</operation>
<operation name="tagDutTextFmt">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagDutTextFmtRequest" message="tns:tagDutTextFmt"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagDutTextFmtResponse" message="tns:tagDutTextFmtResponse"/>
</operation>
<operation name="setUpperFilterYear">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/setUpperFilterYearRequest" message="tns:setUpperFilterYear"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/setUpperFilterYearResponse" message="tns:setUpperFilterYearResponse"/>
</operation>
<operation name="tagFrenText">
<input wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagFrenTextRequest" message="tns:tagFrenText"/>
<output wsam:Action="http://soap.semantictagger.ucrel.lancs.ac.uk/UcrelSemTaggerSoap/tagFrenTextResponse" message="tns:tagFrenTextResponse"/>
</operation>
</portType>
<binding name="UcrelSemTaggerSoapPortBinding" type="tns:UcrelSemTaggerSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tagSwedText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagSpanTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagSpanText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagSpanTextGrampal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagFrenTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagChiText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagItaText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagDutText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagPortText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagEngText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagEngTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagChiTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagItaTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagPortTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagDutTextFmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUpperFilterYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tagFrenText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UcrelSemTaggerSoapService">
<port name="UcrelSemTaggerSoapPort" binding="tns:UcrelSemTaggerSoapPortBinding">
<soap:address location="http://phlox.lancs.ac.uk:80/ucrel/semtagger/UcrelSemTaggerSoapService"/>
</port>
</service>
</definitions>